.dataset-grid {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr;
}

@media (min-width: 704px) {
  .dataset-grid {
    grid-template-columns: repeat(2, minmax(320px, 1fr));
  }
}

@media (min-width: 1200px) {
  .dataset-grid {
    grid-template-columns: repeat(3, minmax(320px, 1fr));
  }
}
