:root {
  /* colors */
  --primary-brand: #3ba7a1;
  --primary-brand-dark: #2f8c88;

  --black: #1e1f22;
  --secondary-grey: #59636e;
  --secondary-light-grey: #e1e8e7;
  --secondary-medium-grey: #bac5c4;

  --teal-grey-background: #f5f8f8;
  --white-background: #ffffff;

  --light-blue: #eaf0f7;
  --light-orange: #edd4c1;
  --light-red: #edc1c1;
  --light-yellow: #e3ebbc;
  --light-green: #c5eace;

  --dark-purple: #b489f0;
  --light-purple: #cab0ee;
  --teal: #91efde;
  --light-pink: #efa1c8;
  --dark-pink: #f276ad;

  /* font */
  --bs-body-font-family: "Inter", sans-serif;

  --h1-size: 32px;
  --h1-weight: 700;

  --h2-size: 22px;
  --h2-weight: 600;

  --h3-size: 16px;
  --h3-weight: 500;

  --subtitle-size: 16px;
  --subtitle-weight: 500;

  --metadata-size: 14px;
  --metadata-weight: 500;

  --body-size: 14px;
  --body-weight: 400;
}

body {
  background-color: var(--teal-grey-background);
  color: var(--black);
}

.h1 {
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  color: var(--black);
}

.h2 {
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  color: var(--black);
}

.h3 {
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  color: var(--black);
}
.subtitle {
  font-size: var(--subtitle-size);
  font-weight: var(--subtitle-weight);
  color: var(--secondary-grey);
}

.metadata {
  font-size: var(--metadata-size);
  font-weight: var(--metadata-weight);
  color: var(--secondary-grey);
}

.body {
  font-size: var(--body-size);
  font-weight: var(--body-weight);
  color: var(--secondary-grey);
}
