

.cgm-metric-tile {
  border: 1px solid var(--secondary-light-grey);
  border-radius: 12px;

  padding: 16px 14px;   
  background: var(--white-background);

  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cgm-metric-value {
  font-size: 20px;    
  font-weight: 700;
  color: #59636E;
  line-height: 1.1;
  margin-bottom: 4px;
}

.cgm-metric-label {
  font-size: 14px;
  font-weight: 500;
  color: #82888F;
  line-height: 1.2;
}
