
   /* DATA SOURCES ROWS
   Includes icon, name, and detail */

.source-row {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid var(--secondary-light-grey);
}

.source-row:last-child {
  border-bottom: none;
}
